<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Employee Login</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"
            style="font-family: 'Michroma', sans-serif;font-size: 1.6rem;color:rgb(255, 166, 0);">HOPE PVT</a>
    </nav>
    {% ifequal pop 1 %}
    <script>alert('Invalid Email and Password');</script> {% endifequal %}
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{%url 'employeelogin' %}" method="post">{% csrf_token %}
                            <h3 class="text-center text-info">Employee Login</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="text" name="email" id="email" placeholder="Enter Your Email"  class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password"  placeholder="Enter Your Password" class="form-control">
                            </div>
                            <div class="form-row justify-content-center">
                                <button type="submit" class="btn col-sm-12 col-md-12 col-lg-4"
                                    style="background-color: #00a8ff;color: white">LOGIN</button>
                            </div>
                        </form>
                        <div class="text-center">Dont have an account? <a href="{% url 'Employeesignup' %}">Signup Here</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <div style="background-color: #273c75;padding-top: 1%;padding-bottom: 0.5%;">
        <div class="container">
            <center>
                <p style="color: white;">
                    Copyright &copy; W2S SOLUTIONS |
                    <a href="" target="_blank" style="color:white;">Privacy Policy</a> |
                    <a href="" target="_blank" style="color:white;">Terms &
                        Conditions</a>
                    | Developed and Maintained by
                    <a href="" target="_blank" style="color:orange">W2SAPPS</a>
                </p>
            </center>
        </div>
    </div>
</body>
</html>